- if @venues.empty?
	- if @error
		%p= @error
	- else
		%p No results found
- else
	%table
		- for venue in @venues
			%tr
				%td
					%p= venue.name
					%span= venue.address
				%td
					= form_for Membership.new do |f|
						= f.hidden_field :venue_id, :value => venue.id
						= f.hidden_field :hop_id, :value => @hop.id
						= f.submit "Add", :class => 'circleplus'
