- if signed_in? && current_user.has_role?('admin')
	%h1 All Hops
- else
	%h1 Find a Hop
- if @hops.empty?
	%p No available hops
- else
	%table.hops
		%tr
			%th NAME
			%th CATEGORY
			%th PUBLISHED AT
			%th FEATURED
			%th
		- for hop in @hops
			%tr
				%td= link_to hop.title, hop
				%td= hop.category.title unless hop.category.nil?
				%td= hop.published_at.to_s(:short)
				%td= hop.featured? ? "YES" : "NO"
				%td
					= link_to "delete", hop, :method => :delete, :class => 'trash'

- if signed_in? && current_user.may_create_hop?
	%p.control= link_to_function "Add Hop", "$('#add_hop').dialog({modal:true,title:'Create a Hop',width:'800px'})"
	#add_hop{:style => "display:none"}
		= form_for Hop.new do |f|
			%p
				= f.label :title
				= f.text_field :title
			%p
				= f.label :category_id
				= f.collection_select :category_id, Category.all, :id, :title
			%p
				= f.label :points
				= f.text_field :points, :size => 4
			%p
				= f.label :description
				= f.text_area :description, :rows => 4, :cols => 20
			%p.control= f.submit "Create Hop"
