= content_for :breadcrumb do
	= link_to "All Hops", hops_path
	»

%h1 Hop: #{@hop.title}
%p.control
	%label Status: 
	- if @hop.published?
		Published
	- else
		Draft
		= link_to "Publish Now", publish_hop_path(@hop), :class => 'clock text'
%p.control
	- if @hop.featured?
		%label Featured: 
		Yes
		= form_for @hop do |f|
			= f.hidden_field :featured, :value => false
			= f.submit "Un-Feature"
	- else
		%label Featured: 
		No
		= form_for @hop do |f|
			= f.hidden_field :featured, :value => true
			= f.submit "Feature"
%p.control
	%label Category:
	= form_for @hop do |f|
		= f.collection_select :category_id, Category.all, :id, :title, {}, { :onchange => "form.submit()" }
%h2 Venues
- if @hop.venues.empty?
	%p No venues
- else
	%ul
		- for venue in @hop.venues
			%li
				= link_to venue.name, [@hop,venue]
				= link_to "delete", [@hop,venue], :method => :delete, :class => "trash"

- if signed_in? && current_user.may_update_hop?(@hop)
	%p.control= link_to_function "Add Venue", "$('#add_venue').dialog({modal:true,title:'Find a Venue',width:'800px'});showMap()"
	#add_venue{:style => "display:none"}
		.search
			= form_for :venue, :url => search_hop_venues_path(@hop), :remote => true, :id => "venue_search" do |f|
				= hidden_field_tag "sw", "27.6657260197085,-82.73374998029151"
				= hidden_field_tag "ne", "27.8657260197085,-82.53374998029151"
				%label Enter a name:
				= text_field_tag :query
				= f.submit "Search", :class => 'text circleplus', :onclick => "$('#add_venue .search .activity').show()"
				%span.radio
					= radio_button_tag "limit", 10, :selected => true
					%label{:for => "limit_10"} 10
					= radio_button_tag "limit", 20
					%label{:for => "limit_20"} 20
					= radio_button_tag "limit", 50
					%label{:for => "limit_50"} 50
				= image_tag 'activity.gif', :width => 25, :height => 25, :class => 'activity', :style => "display:none"
			/ = link_to_function "Enter Address", "alert('center map on address')"
			%hr
		.results
			.list
				Enter a name above to get started.
			#map
			%hr
	/ #add_venue.tabs{:style => "display:none"}
	/ 	%ul
	/ 		%li= link_to "Select Existing", '#existing_venue'
	/ 		%li= link_to "Create New", '#new_venue'
	/ 	#existing_venue
	/ 		= form_for Membership.new do |f|
	/ 			= f.hidden_field :hop_id, :value => @hop.id
	/ 			%p
	/ 				= f.label :venue_id
	/ 				= f.collection_select :venue_id, Venue.all-@hop.venues, :id, :name
	/ 			%p.control= f.submit "Add Venue to Hop"
	/ 	#new_venue
	/ 		= form_for Membership.new do |f|
	/ 			= f.hidden_field :hop_id, :value => @hop.id
	/ 			= f.fields_for :venue_attributes do |v|
	/ 				%p
	/ 					= v.label :name
	/ 					= v.text_field :name
	/ 			%p.control= f.submit "Create Venue"
